<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.messfinder">
<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewRegistration"></activity>
        <activity android:name=".AdminDashboard"></activity>
        <activity android:name=".ConfirmUser"></activity>
        <activity android:name=".ViewMess"></activity>
        <activity android:name=".ViewCustomer"></activity>
        <activity android:name=".MessDashboard"></activity>
        <activity android:name=".UploadMenu"></activity>
        <activity android:name=".ViewMenu"></activity>
        <activity android:name=".AddMess"></activity>
        <activity android:name=".MessLogin"></activity>
       <activity android:name=".UserDashboard"></activity>
        <activity android:name=".ViewNearByMess"></activity>
        <activity android:name=".MessDetails"></activity>
        <activity android:name=".MessByName"></activity>
        <activity android:name=".ViewAllMesss"></activity>
        <activity android:name=".PutOrder"></activity>
        <activity android:name=".MyOrders"></activity>
        <activity android:name=".ViewAllOrders"></activity>
        <activity android:name=".ViewMessOrders"></activity>
    </application>

</manifest>